body {
  margin: 0;
}

header,
main,
footer {
  background-color: #eee;
  margin-bottom: 1%;
  padding: 2%;
}

.box {
  width: 10%;
  aspect-ratio: 1/1;
  padding: 1%;
  margin: 0.3%;
  position: absolute;
  translate: 200% 100%;
  /* translate is not working???*/
  /* top: 20%;
  left: 30%; */
  transform-origin: 0 100%;
}

#container {
  position: relative;
  border: 3px red dashed;
  width: 100%;
  aspect-ratio: 10/9;
}

/* SKRIV KUN KODE HERUNDER 
360 deg divideret med 5 = 72deg så der er 72deg i mellem hver box*/

.redBox {
  background-color: #ff1d00;
  transform: rotate(72deg);
}

.yellowBox {
  background-color: #ffeb00;
  transform: rotate(144deg);
}

.pinkBox {
  background-color: #ff9ecf;
  transform: rotate(216deg);
}

.greenBox {
  background-color: #1fd81f;
  transform: rotate(288deg);
}

.blueBox {
  background-color: #0180fc;
  transform: rotate(360deg);
}
